@media screen and (min-width: 1201px) {
    .animElement.zoom-out.in-view {
        opacity: 1;
        filter: opacity(100%);
        -webkit-filter: opacity(100%);
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
    }
    .animElement.zoom-out {
        opacity: 0;
        filter: opacity(0%);
        -webkit-filter: opacity(0%);
        transform: scale(1.5);
        -o-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }   
}

@media screen and (max-width: 625px) {
    .container {
        width: 100% !important;
    }
    aside {
        width: 100%;
    }
    .wrap-flex {
        flex-direction: column;
    }
    main section {
        width: 100% !important;
    }
    main {
        overflow-x: hidden;
        padding: 16px;
    }
    aside #login input {
        width: calc(100% - 80px);
    }
    .m-flr-rm {
        float: none !important;
        margin-left: 6px;
    }
    .slide-right-custom {
        width: 100%;
    }
    main .listsquare li {
        background: #fff;
        border: 1px solid #d3d0c4;
        border-radius: 4px;
        width: 30%;
        height: 80px;
        margin: 0 1.5% 32px 1.5%;
        display: inline-block;
        vertical-align: top;
    }
}